/*
Variables
*/

// Font colors
$clrPrimary: #100040;
$clrRed: #f69d9e;
$clrGreen: #97e3c2;
$clrBlue: #99c3ec;
$clrYellow: #ffeed9;

// Font sizes
$fontSize14: 0.875rem;
$fontSize16: 1rem;
$fontSize18: 1.125rem;
$fontSize20: 1.25rem;
$fontSize24: 1.5rem;
$fontSize28: 1.75rem;
$fontSize32: 2rem;
$fontSize40: 2.5rem;
$fontSize48: 3rem;
$fontSize80: 5rem;

// Font weights
$fontWeightLight: 300;
$fontWeightBold: 800;
