/*
Icons
*/
.icon {
  fill: $clrPrimary;

  &--facebook {
    width: 1.75rem;
    height: 1.75rem;
  }

  &--instagram {
    width: 1.5rem;
    height: 1.5rem;
  }

  &--arrow-right {
    width: 1.8rem;
    height: 0.6rem;
  }

  &--heart {
    width: 1rem;
    fill: $clrRed;
    margin: 0 0.25rem;
  }
}
