/*
Fonts
*/
@font-face {
  font-family: 'Gilroy';
  font-weight: 300;
  src: url('@/assets/fonts/Gilroy-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 800;
  src: url('@/assets/fonts/Gilroy-ExtraBold.woff2') format('woff2');
}
