/*
Typography
*/
// Headings
h1,
h2,
h3 {
  font-family: 'Gilroy';
  font-weight: $fontWeightBold;
}

h1,
.h1-style {
  font-size: $fontSize40;
  line-height: 1;

  @include responsive(tablet) {
    font-size: $fontSize80;
  }
}

h2,
.h2-style {
  font-size: $fontSize32;
  line-height: 1.2;

  @include responsive(tablet) {
    font-size: $fontSize48;
  }
}

h3,
.h3-style {
  font-size: $fontSize24;
  line-height: 1.2;
}

body,
p,
small,
input {
  color: $clrPrimary;
  font-family: 'Gilroy';
  font-size: $fontSize18;
  font-weight: $fontWeightLight;
}

label {
  font-weight: $fontWeightBold;
}

a {
  text-decoration: none;
  color: $clrPrimary;
}
